
package ${target.javaPackageFromFolder($TEST_SRC)};

import org.demo.persistence.${entity.name}PersistenceGenericTest;
import org.junit.After;
import org.junit.Test;
import org.springframework.data.redis.core.RedisTemplate;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.test.annotation.DirtiesContext;
import org.springframework.test.annotation.DirtiesContext.ClassMode;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import org.demo.persistence.impl.springRedis.commons.SpringRedisConfig;
#if( $entity.hasAutoIncrementedKey() )
import org.springframework.data.redis.support.atomic.RedisAtomicLong;
#end


/**
 * JUnit tests for Car persistence service
 * 
 * @author Telosys Tools
 *
 */
@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(classes = SpringRedisConfig.class)
@DirtiesContext(classMode = ClassMode.AFTER_CLASS)
public class ${entity.name}PersistenceSpringRedisIT extends ${entity.name}PersistenceGenericTest {
    
	@Autowired
	private RedisTemplate<String, Object> redisTemplate;
	private static final String KEY = "${entity.name}";
#if( $entity.hasAutoIncrementedKey() )
	@Autowired
	private RedisAtomicLong redisAt ;
#end

	@After
	public void tearDown() throws Exception {
		redisTemplate.delete(KEY);
	}

	@Test
	public void testPersistenceService() throws Exception {
		${entity.name}PersistenceSpringRedis persistence = new ${entity.name}PersistenceSpringRedis();
		persistence.setRedisTemplate(redisTemplate);
#if( $entity.hasAutoIncrementedKey() )
		persistence.setCounter${entity.name}(redisAt);
		testPersistenceServiceWithAutoincrementedKey(persistence);
#else
    	testPersistenceService(persistence);
#end
	}
}

